<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <ul>
            <li>
                <a href="{% url 'users:index' %}">Home</a>
            </li>
            {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'users:client_list' %}">All clients</a>
            </li>
            <li>
                <a href="{% url 'users:trainer_list' %}">All trainers</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>