<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <ul>
            <li>
                <a href="{% url 'users:index' %}">Main page</a>
            </li>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <li>
                <a href="{% url 'users:client_list' %}">All clients</a>
            </li>
            <li>
                <a href="{% url 'users:trainer_list' %}">All trainers</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated and request.user.profile.is_coach %}
            <li>
                <a href="{{ request.user.profile.get_absolute_url_trainer }}">My profile (Coach)</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated and request.user.profile.is_client %}
            <li>
                <a href="{{ request.user.profile.get_absolute_url_client }}">My profile (Client)</a>
            </li>
            <li>
                <a href="{{ request.user.training_pages.get_absolute_url }}">My Trainings (Client)</a>
            </li>
            <li>
                <a href="{{ request.user.notepage.get_absolute_url }}">My Notes (Client)</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form> 
            </li>
            {% else %}
            <li>
                <a href="{% url 'users:login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'users:registration' %}">Registration</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>