{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% if request.user.is_superuser or request.user.id == user.id or request.user.id == user.profile.get_trainer.id  %}
    
            <form method="post" action="{% url 'users:profile_update' pk=request.user.profile.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
            <a href="{{ request.user.profile.get_absolute_url_client }}">Back</a>
        
        {% endif %}

    {% endif %}

{% endblock %}