{% extends 'main/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated and request.user.is_superuser %}

    {% if profiles %}
        <p>Clients</p>
        <ul>    
            {% for profile in profiles %}
            <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.first_name }} {{ profile.user.last_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            <p>You don't have any clients yet</p>
        </div>
    {% endif %}

{% endif %}
{% endblock %}