{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'main:index' %}">HOME</a>
<div>
    {% if not request.user.is_superuser %}
        <a href="{% url 'main:client_update' pk=profile.id %}">UPDATE</a>
    {% endif %}
    <h3>{{ profile.user.username }}</h3>
    <p>{{ profile.age }}</p>
    <p>{{ profile.weight }}</p>
    <p>{{ profile.height }}</p>
    <p>{{ profile.lifestyle }}</p>
    <p>{{ profile.blood_pressure }}</p>
    <p>{{ profile.chronic_illness }}</p>
    <p>{{ profile.spine }}</p>
    <p>{{ profile.schedule }}</p>
    <p>{{ profile.steps }}</p>
    <p>{{ profile.muscles }}</p>
    <p>{{ profile.unfavourite_food }}</p>
    <p>{{ profile.food_allergies }}</p>
    <p>{{ profile.favourite_food }}</p>
    <p>{{ profile.test_results }}</p>

    {% if profile.get_photos %}
        <p>My photos</p>
        {% for photo in profile.get_photos %}
            <img src="{{ photo.image.url }}" alt="" width="100" height="100">
            <a href="{{ photo.image.url }}">Image</a>
        {% endfor %}
    {% else %}
        <p>No photos yet</p>
    {% endif %}
    {% if not request.user.is_superuser %}
        <form action="{% url 'main:upload_photo' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ upload_photo_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% if profile.get_all_weights %}
        <p>My progress</p>
        {% for weight in profile.get_all_weights %}
            <p>{{ weight.value }}</p>
            <p>{{ weight.date }}</p>
        {% endfor %}
    {% else %}
        <p>No progress added yet</p>
    {% endif %}

    {% if not request.user.is_superuser %}
        <form action="{% url 'main:create_weight' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    <hr>

    {% if profile.get_files %}
        <p>My files</p>
        {% for file in profile.get_files %}
            <a href="{{ file.file.url }}">File</a>
        {% endfor %}
    {% else %}
        <p>No files yet</p>
    {% endif %}

    {% if not request.user.is_superuser %}
        <form action="{% url 'main:upload_file' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ upload_file_form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</div>
{% endblock %}