{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    {% if not notepage.get_all_notes %}
    <div>No notes</div>
    {% else %}
    <h3>My Notes:</h3>
        {% for note in notepage.get_all_notes %}
        <p><b>{{ note.user.username }}</b></p>
        <p>{{ note.text }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'main:create_note' pk=notepage.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

{% endblock %}