{% extends 'users/base.html' %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser or request.user.id == mealinfo.meal.mealplan_page.user.id or request.user.id == meal.mealplan_page.user.get_trainer.id %}

        <form method="post" action="{% url 'mealplan:update_meal_info' pk=mealinfo.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>

    {% endif %}
{% endif %}
{% endblock %}