{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    {{ training_page }}
    <!-- Выводим все тренировочные дни, которые есть у клиента -->
    {% for training_day in training_page.training_day.all %}
        <hr>
        {{ training_day.day }}<br/>
        EXERCISES<br/><br/>
        {% for training_info in training_day.workout_info.all %}
            <!-- Для каждого тренировочного дня выводим TrainingInfo object с указанием упражнения и всех TrainingStats -->
            {{ training_info.training.exercise }}<br/>

            {% for training_stats in training_info.training_stats.all %}
                Weight: {{ training_stats.weight }}<br/>
                Reps: {{ training_stats.reps }}<br/>
                Sets: {{ training_stats.sets }}<br/><br/>
                <a href="{% url 'training:update_training_stats' pk=training_stats.id %}">Update W, R, S</a><br/>
                <a href="{% url 'training:delete_training_stats' pk=training_stats.id %}">Delete</a><br/><br/>
            {% endfor %}
            Add W, R, S<br/>
            <form action="{% url 'training:create_training_stats' pk=training_info.id %}" method="post">
                {% csrf_token %}
                {{ create_training_stats_form }}
                <input type="submit" value="Submit">
            </form>
            <br/><br/>
            <a href="{% url 'training:delete_training_info' pk=training_info.id %}">Удалить упражнение</a>
        {% endfor %}<br/>
        Добавление упражнения <br/>
        <form action="{% url 'training:create_training_info' pk=training_day.id %}" method="post">
            {% csrf_token %}
            {{ create_training_info_form }}
            <input type="submit" value="Submit">
        </form>
            <br/><br/>
        <!-- Создание TrainingInfo (по сути, просто добавление упражнения к тренировочному дню) -->


        {% if request.user.is_authenticated %}

        <a href="{% url 'training:update_training_day' pk=training_day.id %}">Edit Day Name</a>
        <a href="{% url 'training:delete_training_day' pk=training_day.id %}">Delete Day</a>
        <hr>
        
        {% endif %}
    {% endfor %}
    <form action="{% url 'training:create_training_day' pk=training_page.id %}" method="post">
        {% csrf_token %}
        {{ form_training_day }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}