{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    {{ training_page }}
    {% for training_day in training_page.training_days.all %}
        <hr>
        {{ training_day.day }}<br/>
        {{ training_day.user }}<br/>
        <p>EXERCISES</p>
        {% for training in training_day.training.all %}
            {{ training }}<br/>
        {% endfor %}<br/>
        <a href="{% url 'training:update_training_day' pk=training_day.id %}">Edit</a>
        <a href="{% url 'training:delete_training_day' pk=training_day.id %}">Delete</a>
        <hr>
    {% endfor %}
    <form action="{% url 'training:create_training_day' pk=training_page.id %}" method="post">
        {% csrf_token %}
        {{ form_training_day }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}