{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    {% if not trainingpage.get_training %}
    <div>Add training plan</div>

    <form action="{% url 'training:create_training' pk=trainingpage.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    {% else %}
    <h3>My Training Plan:</h3>
        <p>{{ trainingpage.get_training.text }}</p>
        {% if request.user.is_superuser %}
            <div>
                <a href="{% url 'training:update_training' pk=trainingpage.get_training.id %}">Edit</a>
            </div>
            <div>
                <a href="{% url 'training:delete_training' pk=trainingpage.get_training.id %}">Delete</a>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}